$mobile-width: 375px;
$desktop-width: 1920px;

@media (min-width: $mobile-width) and (max-width: ($desktop-width - 1)) {

  [class*="content"] {
    padding: 0 15px;
  }

  .header {
    height: 90px;
    
    &__navigation, &__signal, &__favorites {
      display: none;
    }

    &__search {
      margin-left: auto;
      margin-right: 30px;
    }

    &__toolbar {
      margin-left: 0;
    }
  }

  .our-advantages {
    &__head-line {
      flex-direction: column-reverse;
    }

    &__head {
      font-size: 30px;
    }

    &__head-container {
      & p {
        font-size: 15px;
      }

      margin-left: 0;
    }
  }

  .last-news {
    &__head-p-desktop {
      display: none;
    }

    &__head-line {
      display: flex;
    flex-direction: column;
    }

    &__head {
      font-size: 30px;
      line-height: normal;
    }

    &__all-news-button-container {
      margin-bottom: 39px;
      flex-direction: row-reverse;
      justify-content: start;
    }

    p {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    &__news-container {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    &__burger-menu {
      display: none;
    }
  }

  .last-news__head-p-mobile {
    display: none;
  }
}