@media (max-width: 1919px) {
  [class*=content] {
    padding: 0 15px;
    overflow: hidden;
  }
  .header {
    height: 90px;
  }
  .header__navigation, .header__signal, .header__favorites {
    display: none;
  }
  .header__search {
    margin-left: auto;
    margin-right: 30px;
  }
  .header__toolbar {
    margin-left: 0;
  }
  .our-advantages {
    padding-top: 101px;
    padding-bottom: 115px;
    align-items: center;
  }
  .our-advantages__head-line {
    flex-direction: column-reverse;
    margin-top: 0;
    position: static;
    align-items: center;
  }
  .our-advantages__img {
    margin-left: 62px;
    max-width: 345px;
    margin-top: -55px;
    margin-right: -61px;
  }
  .our-advantages__head {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .our-advantages__head-container {
    margin-left: 0;
  }
  .our-advantages__head-container p {
    font-size: 15px;
  }
  .our-advantages__best-quality {
    display: none;
  }
  .our-advantages__best-quality-img {
    display: none;
  }
  .our-advantages__cards {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }
  .our-advantages__card {
    width: 345px;
    padding-bottom: 18px;
    padding-left: 15px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .our-advantages__card-head {
    max-width: 315px;
  }
  .our-advantages__icon-card {
    margin-top: 15px;
  }
  .button-container {
    flex-direction: row-reverse;
    justify-content: start;
  }
  .button-container-no-revers {
    flex-direction: row;
  }
  .button-container-all-news {
    margin-bottom: 39px;
  }
  .last-news {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .last-news__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .last-news__head-p-desktop {
    display: none;
  }
  .last-news__head-line {
    display: flex;
    flex-direction: column;
  }
  .last-news__head {
    font-size: 30px;
    line-height: normal;
  }
  .last-news p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
  }
  .last-news__news-container {
    display: flex;
    flex-direction: column;
  }
  .last-news__news-desktop {
    display: none;
  }
  .our-contacts {
    margin: 0;
  }
  .our-contacts__content {
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 700px;
  }
  .our-contacts__contacts {
    padding: 101px 63px 59.84px 30px;
    height: 623px;
    background: white;
  }
  .our-contacts__form {
    padding: 60px 30px;
  }
  .our-contacts__iphone-desktop {
    display: none;
  }
  .our-contacts__iphone-mobile {
    display: block;
    position: absolute;
    top: 411px;
    right: 21.71px;
  }
  .our-contacts-head {
    font-size: 30px;
    line-height: normal;
  }
  .background {
    display: none;
  }
  .catalog {
    padding-top: 120px;
    padding-bottom: 120.1px;
  }
  .catalog__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20.1px;
  }
  .catalog__head {
    font-size: 30px;
    line-height: normal;
  }
  .catalog__head-container p {
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .catalog__card {
    width: 100%;
    padding: 15px 22px 20px 20px;
    min-height: 290.898px;
  }
  .catalog__card-img-container {
    justify-content: space-between;
  }
  .catalog__card-img-1 {
    margin-top: 0;
    margin-left: -35px;
    max-width: 100%;
    height: auto;
  }
  .catalog__card-img-2 {
    margin-top: -8.83px;
    margin-left: 0;
  }
  .catalog__card-img-3 {
    margin-top: 13.51px;
    margin-left: 19.99px;
  }
  .catalog__card-img-4 {
    margin-top: 26.26px;
    margin-left: 9.81px;
    max-width: 100%;
    height: auto;
  }
  .catalog__card-img-5 {
    margin-top: 9.8px;
    margin-left: 0px;
    max-width: 100%;
    height: auto;
  }
  .catalog__card-2 {
    padding-right: 36px;
  }
  .catalog__card-3 {
    padding-right: 40.77px;
  }
  .catalog__card-4 {
    padding-right: 59.59px;
  }
  .catalog__card-5 {
    padding-right: 23.52px;
  }
}
@media (min-width: 1920px) {
  .header__burger-menu {
    display: none;
  }
  .last-news__head-p-mobile {
    display: none;
  }
}/*# sourceMappingURL=index-exceptions.css.map */