$mobile-width: 375px;
$desktop-width: 1920px;

@media (min-width: $mobile-width) and (max-width: ($desktop-width - 1)) {

  [class*="content"] {
    padding: 0 15px;
  }

  .header {
    height: 90px;
    
    &__navigation, &__signal, &__favorites {
      display: none;
    }

    &__search {
      margin-left: auto;
      margin-right: 30px;
    }

    &__toolbar {
      margin-left: 0;
    }
  }

  .our-advantages {
    padding-top: 101px;

    &__head-line {
      flex-direction: column-reverse;
      margin-top: 0;
      position: static;
    }

    &__img {
      margin-left: 62px;
      width: 100%;
      margin-top: -55px;
    }

    &__head {
      font-size: 30px;
      margin-bottom: 20px;
      font-size: 30px;
    }

    &__head-container {
      & p {
        font-size: 15px;
      }

      margin-left: 0;
    }

    &__best-quality {
      display: none;

      &-img {
        display: none; //temp
      }
    }

    &__cards {
      margin-top: 40px;
    }
  }

  .button-container {
    flex-direction: row-reverse;
    justify-content: start;
  }
  
  .button-container-no-revers {
    flex-direction: row;
  }

  .button-container-all-news {
    margin-bottom: 39px;
  }

  .last-news {
    padding-top: 120px;
    
    &__head-p-desktop {
      display: none;
    }

    &__head-line {
      display: flex;
    flex-direction: column;
    }

    &__head {
      font-size: 30px;
      line-height: normal;
    }

    p {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    &__news-container {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    &__burger-menu {
      display: none;
    }
  }

  .last-news__head-p-mobile {
    display: none;
  }

  .our-advantages {
    &__best-quality-img {
      display: none;
    }
  }
}