$mobile-width: 375px;
$desktop-width: 1920px;

@mixin full-width-auto-height {
  max-width: 100%;
  height: auto;
}

@media (max-width: ($desktop-width - 1)) {

  [class*="content"] {
    padding: 0 15px;
    overflow: hidden;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 15px;

    &__navigation, &__signal, &__favorites {
      display: none;
    }

    &__search {
      margin-left: auto;
      margin-right: 30px;
    }

    &__toolbar {
      margin-left: 0;
    }
  }

  .our-advantages {
    padding-top: 101px;
    padding-bottom: 115px;
    align-items: center;

    &__head-line {
      flex-direction: column-reverse;
      margin-top: 0;
      position: static;
      align-items: center;

    }

    &__img {
      margin-left: 62px;
      max-width: 345px;
      margin-top: -55px;
      margin-right: -61px;
    }

    &__head {
      margin-bottom: 20px;
      font-size: 30px;
    }

    &__head-container {
      & p {
        font-size: 15px;
      }

      margin-left: 0;
    }

    &__best-quality {
      display: none;

      &-img {
        display: none; //temp
      }
    }

    &__cards {
      margin-top: 40px;
      flex-direction: column;
      align-items: center;
    }

    &__card {
      width: 345px;
      padding-bottom: 18px;
      padding-left: 15px;
      height: fit-content;

      &-head {
        max-width: 315px;
      }
    }

    &__icon-card {
      margin-top: 15px;
    }
  }

  .button-container {
    flex-direction: row-reverse;
    justify-content: start;

    &-no-revers {
      flex-direction: row;
    }

    &-all-news {
      margin-bottom: 39px;
    }
  }

  .last-news {
    padding-top: 120px;
    padding-bottom: 120px;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__head-p-desktop {
      display: none;
    }

    &__head-line {
      display: flex;
      flex-direction: column;
      
    }

    &__head {
      font-size: 30px;
      line-height: normal;
    }

    p {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 15px;
    }

    &__news {
      &-container {
        display: flex;
        flex-direction: column;
      }

      &-desktop {
        display: none;
      }
    }
  }

  .our-contacts {
    margin: 0;

    &__content {
      flex-direction: column;
      margin-top: 0;
      padding: 0;
      height: fit-content;
      max-width: 700px;
      
    }

    &__contacts {
      padding: 101px 63px 59.84px 30px;
      background: white;

      &-icon {
        width: 18.7px;
        height: 18.7px;

        &-sms {
          width: 17.7px;
          height: 17.7px;
        }

        &-calling {
          width: 17.7px;
          height: 17.7px;
        }
      }

      &-item {
        display: flex;
        flex-direction: column;

        & p {
          font-size: 18px;
          line-height: 150%;
        }
  
        & span {
          font-size: 15px;
          line-height: 133.687%;
        }

        &-container {
          &-address {
            margin-bottom: 30.52px;
          }

          &-email {
            margin-bottom: 30px;
          }

          &-phone {
            margin-bottom: 30.48px;
          }
        }
      }
    }

    &-text {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 40px;
    }

    &__form {
      &-container {
        padding: 60px 30px; 
      }
    }

    &__iphone {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: block;
        position: absolute;
        top: 411px;
        right: 21.71px;
      }
    }

    &-head {
      font-size: 30px;
      line-height: normal;
    }
  }

  .background {
    display: none;
  }

  .catalog {
    padding-top: 120px;
    padding-bottom: 120.1px;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20.1px;
    }

    &__head {
      font-size: 30px;
      line-height: normal;

      &-container {
        & p {
          font-size: 15px;
          margin-bottom: 30px;
          margin-top: 20px;
        }
      } 
    }

    &__card {
      width: 100%;
      padding: 15px 22px 20px 20px;
      min-height: 290.898px;

      &-2 {
        padding-right: 36px;
      }
  
      &-3 {
        padding-right: 40.77px;
      }
  
      &-4 {
        padding-right: 59.59px;
      }
  
      &-5 {
        padding-right: 23.52px;
      }

      &-img-container {
        justify-content: space-between;
        
      }

      &-img-1 {
        margin-top: 0;
        margin-left: -35px;
        @include full-width-auto-height;
      }

      &-img-2 {
        margin-top: -8.83px;
        margin-left: 0;
      }

      &-img-3 {
        margin-top: 13.51px;
        margin-left: 19.99px;
      }

      &-img-4 {
        margin-top: 26.26px;
        margin-left: 9.81px;
        @include full-width-auto-height;
      }

      &-img-5 {
        margin-top: 9.8px;
        margin-left: 0px;
        @include full-width-auto-height;
      }

      &-number {
        font-size: 20px;
      }
    }
  }

  .social-icons {
    width: 65px;
  }

  .footer {
    padding-top: 30.55px;
    padding-bottom: 29.82px;
    padding-left: 16px;
    padding-right: 22px;

    &__content {
      padding: 0;
    }

    &__logo {
      margin-top: 0;
      align-self: center;
    }
  
    &__navigation {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      margin-bottom: 61px;
  
      &-container {
        flex-direction: column;
        align-items: center;
        gap: 28.16px;
      }
  
      &-head {
        font-size: 18px;
      }
  
      &-item {
        font-size: 15px;
        font-weight: 300;
        line-height: 100%;
      }
    }

    &__contacts {
      max-width: 337px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      text-align: left;
      gap: 20px;
  
      &-item {
        & span {
          font-size: 15px;
          margin-bottom: 0;
        }
  
        & p {
          font-size: 15px;
          line-height: 150%;
        }
      }

      &-social-icons {
        margin-top: 10px;
        width: 90.182px;
        height: 30.182px;
      }
    }
  }

  
}


@media (min-width: $desktop-width) {
  .header {
    &__burger-menu {
      display: none;
    }
  }

  .last-news {
    &__head-p-mobile {
      display: none;
    }
  }
}
